a{
color:black
}

html{
    padding: 3px 3px 3px 3px;
    background-image: url(wallpaper.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 12pt;
    text-align: center;
    color:black;
}

.dot {
    padding: 12px 12px 12px 12px;
    position: relative;
    left: 20%;
    width: 57.5%;
    background-color: #778899;
    align-self: center;
}

.dota {
    background-color: #778899;
    align-self: center;
    padding: 12px 12px 12px 12px;
    position: relative;
}

.page {
    position: relative;
    display: table;

    width: 800px;

    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 0px 0px 0px;

    border-width: 2px;
    border-color: black;
    border-style: solid;

    background-color: #D8DBE2;
    
    text-align: center;
}
